html.vp, .vp body, .vp .svg {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.vp .svg {
    overflow: hidden;
}

/** ------- sidebar ----------- */

#diagram-sidebar {
    display: none;
    position: absolute;
    width: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f7f7f7;
    border-right: 1px solid #777;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#diagram-sidebar > div {
        padding: 0 20px 0 20px;
        min-width: 200px;
    }

#sidebar-toggle {
    position: fixed;
    left: 0;
    top: 20px;
    background: #f5f5f5;
    margin: 0;
    padding: .4em .6em .2em .5em;
	font-size: 1.5em;
    cursor: pointer;
    border: 1px solid #777;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    border-left: 1px solid #f5f5f5;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

#sidebar-toggle:active span.glyphicon {
	margin: 2px 2px;
	color: #000;
}

div.svg {
    transition: opacity .7s ease-in;
}

div.svg.appear {
    opacity: 0;
}

#sidebar-toggle svg {
	transition: transform .4s ease;
}

#sidebar-toggle.rotated svg {
	transform: rotate(90deg);
}

#diagram-sidebar span.glyphicon {
    padding-right: 0.5em;
}

#panel-caption, .panel-title, .panel-body > ul > li
 {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-body {
    max-height: 40vh;
    overflow-y: auto;
}

.panel-body > table {
    margin-bottom: 0;
}

/* diagram */

#zoom-buttons {
    position: absolute;
    bottom: 2em;
    right: 2em;
}

    #zoom-buttons a {
        margin: 1em;
        padding: 0.5em;
        background: #eee;
        border: 1px solid #ccc;
        border-radius: 1em;
    }

#diagram {
    height: 100%;
    padding: 5px;
}


[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: text-top;
}

.borderless td, .borderless th {
    border: none !important;
}

.bootstrap-switch {
    border-radius: 8px;
    margin: 2px;
}

.bootstrap-switch .bootstrap-switch-container {
    border-radius: 8px;
}